@font-face {
    font-family: 'Zurich CN BT';
    src: url('../font/zurich-cn-bt.eot');
    src: url('../font/zurich-cn-bt.eot?#iefix') format('embedded-opentype'),
         url('../font/zurich-cn-bt.woff2') format('woff2'),
         url('../font/zurich-cn-bt.woff') format('woff'),
         url('../font/zurich-cn-bt.ttf') format('truetype'),
         url('../font/zurich-cn-bt.svg#zurich_cn_btregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body, .main-content{
    background-color: #f9f4eb;
}

.header{
	background-image: url(../img/bg_re.jpg);
	background-repeat: repeat-x;
  line-height: 55px;
}
.navbar{
  padding: 0 !important;
}
.logo{
  padding-top: 2px;
}
.nav-link{
  padding-left: 1rem !important
}
.follow{
	float: right;
	text-transform: capitalize;
	color: #fff;
	vertical-align: middle;
	letter-spacing: 0.2px;
	font-size: 13px;
	padding-top: 18px;
	font-family: 'arial';
}
.menus{
	line-height: 3.5rem;
	text-decoration: none;
}
.icon{
	padding-left: 10px;
}
.menu-links a{
	font-family: 'Zurich CN BT';
	color: #D1CAB3 !important;
}
@media (min-width: 1200px){
  .container {
      max-width: 1000px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
}
}

.swiper-container{

	margin-top:30px ;
	max-width: 968px;
	max-height:342px;
	
	
}


.swiper-pagination
{
    margin-bottom: 280px;
    margin-left:330px; 

}


.heading
{                   /*border-bottom:inset;*/
    background-repeat: repeat-x;
    background-position: center bottom;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 17px;
    color: #80663a;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: bold;
 border-bottom:;
	border-color: #464835;
}

.msg-contain{
	  color: #7f6942;
		text-align: justify !important;
    font-size: 12px;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
 
.text-box li a 
{
    color: #464835 !important;
    text-decoration: blink;
    font-size: 14px;
    height: 25px;
}
.text-box li::marker 
{
    content:  "›› "; 
    color: #464835;
    font-size: small;
}
 
.readmore
{
	color: #464835;
	float: right;
}

p.blackquote_para   {
    text-align: justify !important;
    padding-left: 30px;
    padding-right: 25px;
    position: relative;
    word-spacing: 0.5px;
}
p.blackquote_para:before{
    content: '';
    background-image: url('../img/i-commatop.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 16px;
    right: auto;
    left: 0px;
}
p.blackquote_para:after
{
    content: '';
    background-image: url(../img/i-commabottom.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 16px;
    right: 0px;
    left: auto;
}

.name
{
	float: right;
    font-size: 12px;
    margin: 0;
    padding: 0 16px;
    color: #7f6942;
}

.align
{
    margin-top:50px;
    margin-bottom:80px; 
 
}

.footer-top{

	background-image:url('../img/foot-top.png');
	background-position:bottom;
	background-repeat:repeat-x;
	background-size:cover;
	height:65px; 
}

.main_div{
    background-image:url('../img/foot_re.gif');
    background-repeat:repeat-x;
    height:50%;
    background-size:cover;
  }

.main_div ul{

 padding-top:11px;
 font-size: 12px;

}

.footer-container{

    padding-left: 0px;
    padding-right: 0px;
   
}

.para{

font-size:12px;
color:#ada390;
text-align:center;
padding-top:23px;
}


.para a{

	color:#7f6942;
}


.para a:hover{
  
   text-decoration:underline;
   color: #7f6942;
}

.para a:focus{
  
   text-decoration:underline;
   color: #FFF;
}


footer li{

	display:inline;
}

.p{

	color:#ada390;
     float:left;
	padding-left:18px;

}

.p:hover{

	color:#7f6942;
	text-decoration:none;
}

.copyright_section{
     
  font-size: 12px;
	color: #7f6942;
	padding-top:11px;
}

@media (max-width: 767px){
  .copyright_section {
      
      padding-left:80px;
     
}
}