@font-face {
    font-family: 'Zurich CN BT';
    src: url('../font/zurich-cn-bt-bold-webfont.woff2') format('woff2'),
         url('../font/zurich-cn-bt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body, .main-content{
    background-color: #f9f4eb;
}

.header{
	background-image: url(../img/bg_re.jpg);
	background-repeat: repeat-x;
}
.follow{
	float: right;
	text-transform: capitalize;
	color: #fff;
	vertical-align: middle;
	letter-spacing: 0.2px;
	font-size: 13px;
	padding-top: 14px;
	font-family: 'arial';
}
.menus{
	line-height: 3.5rem;
	text-decoration: none;
}
.icon{
	padding-left: 10px;
}
.menu-links a{
	font-family: 'Zurich CN BT';
	color: #D1CAB3 !important;
}


.swiper-container{

	margin-top:30px ;
	max-width: 968px;
	max-height:342px;
	
	
}


.swiper-pagination
{
    margin-bottom: 280px;
    margin-left:330px; 

}


.heading
{                   /*border-bottom:inset;*/
    background-repeat: repeat-x;
    background-position: center bottom;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 17px;
    color: #80663a;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: bold;
 border-bottom:;
	border-color: #464835;
}

.msg-contain{
	    color: #7f6942;
		text-align: justify !important;
    font-size: 12px;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
 
.text-box li a 
{
    color: #464835 !important;
    text-decoration: blink;
    font-family: 'Zurich Cn BT';
}
.text-box li::marker 
{
    content:  "›› "; 
 	color: #464835;
  	font-size: small;
}
 
.readmore
{
	color: #464835;
	float: right;
}

.name
{
	float: right;
    font-size: 12px;
    margin: 0;
    padding: 0 16px;
}



.footer-top{

	background-image:url('img/foot-top.png');
	background-position:bottom;
	background-repeat:repeat-x;
	background-size:cover;
	height:65px; 
}

.main_div{

    background-image:url('img/foot_re.gif');
    background-repeat:repeat-x;
    height:50%;
    background-size:cover;
  }

.main_div ul{

 padding-top:11px;
 font-size: 12px;

}

.footer-container{

    padding-left: 0px;
    padding-right: 0px;
   
}

.para{

font-size:12px;
color:#ada390;
text-align:center;
padding-top:23px;
}


.para a{

	color:#ada390;
}


.para a:hover{
  
   text-decoration:underline;
   color: #7f6942;
}

.para a:visited{
  
   text-decoration:underline;
   color: #FFF;
}


footer li{

	display:inline;
}

.p{

	color:#ada390;
     float:left;
	padding-left:18px;

}

.p:hover{

	color:#7f6942;
	text-decoration:none;
}

.copyright_section{
     
  font-size: 12px;
	color: #7f6942;
	padding-top:11px;
}

